html {
	box-sizing: border-box;
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: "Work Sans", sans-serif;
	font-weight: normal;
}
/* HEADER */
.header__top {
	background-color: #ff4f81;
	padding: 0.8rem 1.6rem;
	font-size: 1.4rem;
}
.header__left a {
	margin-right: 2.8rem;
	color: white;
	text-decoration: none;
	transition: all 0.5s;
}
.header__left a:hover {
	color: #00a98f;
}
.header__right a {
	display: inline-block;
	color: white;
	background-color: #333;
	width: 3rem;
	height: 3rem;
	border: 1px solid #333;
	text-align: center;
	line-height: 3rem;
	transition: all 0.5s;
}
.header__right a:hover {
	background-color: transparent;
	border: 1px solid white;
}
.navInstruction {
	padding: 1.44rem 0;
}
.navInstruction a {
	color: #282828;
}
.navInstruction .navbar-brand h1 {
	font-size: 3.6rem;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
}
.navInstruction .navbar-brand h1 i {
	transform: skewX(-10deg);
	font-size: 3rem;
}
.navInstruction .navbar-brand p {
	color: #ff4f81;
	text-align: center;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	font-weight: bold;
}
#navbarInstruction .nav-item {
	margin: 0 1.5rem;
}
#navbarInstruction .nav-item::after {
	content: "";
	display: block;
	width: 0;
	height: 0.2rem;
	background-color: #ff4f81;
	transition: all 0.5s;
}
#navbarInstruction .nav-item .nav-link {
	text-transform: uppercase;
	font-size: 1.44rem;
	letter-spacing: 0.1rem;
	font-weight: 600;
	padding: 1.4rem 0.8rem;
	transition: all 0.5s;
}
#navbarInstruction .nav-item:hover .nav-link {
	color: #ff4f81;
}
#navbarInstruction .nav-item:hover::after {
	width: 100%;
}
#navbarInstruction .nav-item.active .nav-link {
	color: #ff4f81;
}
#navbarInstruction .nav-item.active::after {
	width: 100%;
}
#navbarInstruction .dropdown-menu {
	background: rgba(0, 0, 0, 0.65);
	min-width: 12.4rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
#navbarInstruction .dropdown-menu .dropdown-item {
	font-size: 1.4rem;
	text-align: center;
	color: white;
	text-transform: capitalize;
	transition: all 0.5s;
}
#navbarInstruction .dropdown-menu .dropdown-item:hover {
	background-color: transparent;
	color: #ff4f81;
}
