html {
	box-sizing: border-box;
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: "Work Sans", sans-serif;
	font-weight: normal;
}
/* HEADER */
.header__top {
	background-color: #ff4f81;
}
